name: Maven build

on:
    workflow_dispatch:
    pull_request:
        branches: [ main ]

env:
    JAVA_VERSION: '19'
    JAVA_DISTRO: 'zulu'

jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Java
              uses: actions/setup-java@v4
              with:
                  java-version: ${{ env.JAVA_VERSION }}
                  distribution: ${{ env.JAVA_DISTRO }}
                  cache: 'maven'

            - name: Build with Maven
              run: mvn verify -B -ntp
